extends layout

block content
  .row.banner
    .col-12
      h1 Noodles
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p Two minute noodles ready in an instant
          .card.card-primary
            .card-block
              h2.card-title Opening hours
              p.card-text Monday - Friday : 7:00am - 4:30pm
              p.card-text Saturday : closed
              p.card-text Sunday : closed
          .card.card-primary
            .card-block
              h2.card-title Facilities
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Durban Curry
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Chicken Mayo
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Beef
              | &nbsp;
        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Cup-a-Noodle
              img.img-fluid.rounded(src='https://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
      .row
        .col-12
          .card.card-primary.review-card
            .card-block
              a.btn.btn-primary.float-right(href='/products/product/review/new') Add review
              h2.card-title Customer reviews
              .row.review
                .col-12.no-gutters.review-header
                  span.rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.far.fa-star
                    i.far.fa-star
                  span.reviewAuthor Katlego Gagoopane
                  small.reviewTimestamp 16 February 2024
                .col-12
                  p Beef wasn't nice, try Durban Curry
              .row.review
                .col-12.no-gutters.review-header
                  span.rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.far.fa-star
                    i.far.fa-star
                  span.reviewAuthor Moses Malone
                  small.reviewTimestamp 14 February 2024
                .col-12
                  p It was okay. I'll buy it again.
    .col-12.col-lg-3
      p.lead
        | Noodles is on ShopApp because it has accessible wifi and space to sit down with your laptop and get some work done.
      p
        | If you've been and you like it - or if you don't - please leave a review to help other people just like you.

