extends layout

block content
    .row.banner
        .col-12
            h1 Products in Store
                small &nbsp;- Get Something to eat!
    .row
        .col-12.col-md-8
            .card
                .card-block
                    h4
                        a(href="/location") Noodles
                        small &nbsp;
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.far.fa-star
                            i.far.fa-star
                        span.badge.badge-pill.badge-default.float-right R5.00
                    p.address 2 minute noodles ready instantly.
                    p.facilities
                        span.badge.badge-warning Durban Curry
                        span.badge.badge-warning Chickey Mayo
                        span.badge.badge-warning Beef
            .card
                .card-block
                    h4
                        a(href="/location") Energy Drink
                        small &nbsp;
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.far.fa-star
                        span.badge.badge-pill.badge-default.float-right R15.00
                    p.address Cool Down while you at it.
                    p.facilities
                        span.badge.badge-warning Monster
                        span.badge.badge-warning RedBull
                        span.badge.badge-warning MoFaya
            .card
                .card-block
                    h4
                        a(href="/location") Chips
                        small &nbsp;
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.far.fa-star
                            i.far.fa-star
                        span.badge.badge-pill.badge-default.float-right R8.00
                    p.address one snack a day keeps the hunger away
                    p.facilities
                        span.badge.badge-warning Simba
                        span.badge.badge-warning Lays
                        span.badge.badge-warning Niknaks
        .col-12.col-md-4
                p.lead Looking for a quick meal? ShopApp helps you grab a meal, sign for it and only pay at the end of the month. Eat as much as you want and keep track of your bill.